
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}


<div class="home-container">
    <div class="hero">
        <div class="overlay">
            <h1>Chào mừng đến với Hệ thống Quản lý Sinh Viên</h1>
            <h2>Quản lý thông tin sinh viên, lớp học, ngành học và khóa một cách dễ dàng và hiệu quả.</h2>
        </div>
    </div>
</div>
