@model ManageStudentsV2.Models.Phan_cong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}

<div class="create-forms">
    <h3>Bạn Có Chắc Chắn Xóa Hàng Này Chứ  ?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn1" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn2" })
        </div>
    }
</div>