@model ManageStudentsV2.Models.Lop_dang_ky

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ManageStudentHome.cshtml";
}



<div class="create-forms">
    <h3>Bạn Có Chắc Chắn với Hành Động Này Chứ ? </h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn1" /> 
            @Html.ActionLink("Cancel", "Index",null,new {@class = "btn2"})
        </div>
    }
</div>
